<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IMS_System.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <IMS_System.Properties.Settings>
            <setting name="DBConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="Active_Session" serializeAs="String">
                <value />
            </setting>
            <setting name="current_staff_name" serializeAs="String">
                <value />
            </setting>
            <setting name="current_staff_id" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="current_user_id" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Currency" serializeAs="String">
                <value>Rs.</value>
            </setting>
            <setting name="Messagebox_Acess" serializeAs="String">
                <value />
            </setting>
            <setting name="Print_Mode" serializeAs="String">
                <value>RECEIPT</value>
            </setting>
            <setting name="MessageBoxResults" serializeAs="String">
                <value />
            </setting>
        </IMS_System.Properties.Settings>
    </userSettings>
</configuration>